*{
    color: white;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(90deg, rgba(67,0,0,1) 0%, rgba(184,0,0,1) 100%);
}

/* Base structure homepage */
#wrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
}

#chatsBar{
    border: 2px solid black;
    height: auto;
    width: 30%;
}
#activeChat{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: auto;
    width: 100%;
}


/* chats */
#chatsList{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}
.chat{
    text-align: center;
    border: 1px solid black;
}
.chat p{
    margin-top: 10px;
    margin-bottom: 10px;
}


/* chat box structure */
#chatHeader{
    background-color: blue;
    border-bottom: 2px solid black;
}
#chatFooter{
    height: 60px;
    background-color: rebeccapurple;
    margin-top: auto;
}


/* a message in a chat */
.message{
    border-bottom: 2px solid black;
}
.message p{
    margin: 10px;
}
.username{
    color: rgb(187, 187, 187);
}